.DS_Store
node_modules/
.pnpm-store/
.old/
dist/
target/
temp

# Env files
.env
.env.*
!.env.example

# Logs
*.log
.VSCodeCounter

# Playground Directus runtime data
playground/database/*
!playground/database/.gitkeep
playground/uploads/*
!playground/uploads/.gitkeep
playground/extensions/*
!playground/extensions/.gitkeep
